.main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}

#board {
    display: grid;
    gap: calc(min(90vmin, 500px) / (var(--board-size) * 10));
    width: min(90vmin, 500px);
    font-size: calc(min(90vmin, 500px) / (var(--board-size) * 5));
    /* max-width: 500px; */
    /* box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .2); */
}

.cell-front,
.cell-back {
  transition:
    transform var(--trans-time) ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.cell.reveal .cell-front {
  transform: rotateY(180deg);
}

.cell.reveal .cell-back {
  transform: rotateY(0deg);
}

.cell {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    /* width: var(--cell-size); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /* font-size: 10vw; */
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /* overflow: hidden; */
}

.cell-front,
.cell-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    /* transition: transform .5s ease,
                background-color .2s ease,
                color .2s ease; */
}

.cell .cell-front { transform: rotateY(0deg); }
.cell .cell-back { transform: rotateY(-180deg); }
/* .cell.reveal .cell-front { transform: rotateY(180deg); }
.cell.reveal .cell-back { transform: rotateY(0deg); } */

.cell-front {
    background-color: var(--bg2)
}

.cell-back {
    background-color: var(--bg3);
}

.cell[data-num="1"] .cell-back { color: #d9ed92;}
.cell[data-num="2"] .cell-back { color: #b5e48c;}
.cell[data-num="3"] .cell-back { color: #99d98c;}
.cell[data-num="4"] .cell-back { color: #76c893;}
.cell[data-num="5"] .cell-back { color: #52b69a;}
.cell[data-num="6"] .cell-back { color: #34a0a4;}
.cell[data-num="7"] .cell-back { color: #168aad;}
.cell[data-num="8"] .cell-back { color: #1a759f;}


.cell:not(.reveal) {
    cursor: pointer;
}

.cell.reveal {
    cursor: default;
}

.flag-wrapper {
    position: absolute;
    z-index: 100; /* ou maior, se necessário */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* importante para não bloquear cliques */
    top: 0;
    left: 0;
}

.flag-icon {
    width: 50%;
    height: 50%;
}

.mine {
    background-color: black;
}

.reset-button {
    font-weight: bold;
    font-size: 1.2rem;
    padding: .3em .5em;
    border-radius: 5px;
}

.board-ui {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 5px solid var(--bg2);
    border-radius: 5px;
    padding: 0.2em 0.5em;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5em;
}

/* .board-ui--icon {
    width: 2em;
    height: 2em;
} */